<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>TEMP_PopulateDB</servlet-name>
        <servlet-class>pl.polsl.io.servlet.TEMP_PopulateDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageVehicles</servlet-name>
        <servlet-class>pl.polsl.io.servlet.ManageVehicles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PackageSales</servlet-name>
        <servlet-class>pl.polsl.io.servlet.PackageSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRequest</servlet-name>
        <servlet-class>pl.polsl.io.servlet.LoadRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TEMP_PopulateDB</servlet-name>
        <url-pattern>/TEMP_PopulateDB</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Init</servlet-name>
        <servlet-class>pl.polsl.io.servlet.Init</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInOut</servlet-name>
        <servlet-class>pl.polsl.io.servlet.LogInOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>pl.polsl.io.servlet.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSettings</servlet-name>
        <servlet-class>pl.polsl.io.servlet.AccountSettings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <jsp-file>/Homepage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Init</servlet-name>
        <url-pattern>/Init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInOut</servlet-name>
        <url-pattern>/LogInOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSettings</servlet-name>
        <url-pattern>/AccountSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageVehicles</servlet-name>
        <url-pattern>/ManageVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackageSales</servlet-name>
        <url-pattern>/PackageSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRequest</servlet-name>
        <url-pattern>/LoadRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
