<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>CreateServices</filter-name>
        <filter-class>pl.polsl.io.controller.filter.CreateServices</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CreateServices</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>TEMP_PopulateDB</servlet-name>
        <servlet-class>pl.polsl.io.controller.servlet.TEMP_PopulateDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageVehicles</servlet-name>
        <servlet-class>pl.polsl.io.controller.servlet.ManageVehicles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSales</servlet-name>
        <servlet-class>pl.polsl.io.controller.servlet.ProductSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRequest</servlet-name>
        <servlet-class>pl.polsl.io.controller.servlet.LoadRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchServices</servlet-name>
        <servlet-class>pl.polsl.io.controller.servlet.FetchServices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TEMP_PopulateDB</servlet-name>
        <url-pattern>/TEMP_PopulateDB</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogInOut</servlet-name>
        <servlet-class>pl.polsl.io.controller.servlet.LogInOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>pl.polsl.io.controller.servlet.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSettings</servlet-name>
        <servlet-class>pl.polsl.io.controller.servlet.AccountSettings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <jsp-file>/Homepage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInOut</servlet-name>
        <url-pattern>/LogInOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSettings</servlet-name>
        <url-pattern>/AccountSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageVehicles</servlet-name>
        <url-pattern>/ManageVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSales</servlet-name>
        <url-pattern>/ProductSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRequest</servlet-name>
        <url-pattern>/LoadRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchServices</servlet-name>
        <url-pattern>/FetchServices</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
